.loginPage {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 3.6%;
    height: min-content;
    color: white;
}

.loginBox {
    background-color: #301079;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.loginHeader {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 30px;
}

.formGroup {
    margin-bottom: 20px;
    width: 100%;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="date"],
.errorMessage {
    width: 100%;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}

input:read-only{
    background-color: dimgray;
    border-color: black;
}

button[type="submit"] {
    background-color: goldenrod;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: darkgoldenrod;
}

button[type="submit"]:not(:first-child) {
    margin-left: 50px;
}

.registerPrompt {
    margin-top: 20px;
    text-decoration: none;
    color: white;
}

.errorMessage {
    color: darkred;
    background-color: palevioletred;
    border-color: darkred;
    align-items: center;
    display: none;
}
.errorMessage.visible {
    display: block;
}

.showPasswordToggle {
    display: inline-block;
    margin-top: 10px;
    cursor: pointer;
}

.registerScale {
    scale: 0.85;
    transform-origin: top;
}