nav {
    display: flex;
    background-color: #301079;
    height: calc(5% + 10px);
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    border-bottom: 1px solid gold;
}

.navButton {
    height: 100%;
    display: flex;
    text-decoration: none;
    color: white;
    width: fit-content;
    padding: 0px 20px;
    align-items: center;
    white-space: nowrap;
}

nav .navButton:first-child {
    margin-left: 10%;
}
nav .navButton:last-child {
    padding: 0px 35px;
}

.navButton:hover {
    opacity: 0.8;
    color: gold;
    background-color: #18083f;
}
.navButton:active {
    opacity: 1;
}

.rightCenter {
    display: flex;
    margin-left: auto;
    padding-right: 20px;
}

.Menus {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.ScrollMenu {
    display: flex;
    width: fit-content;
    height: fit-content;
    transition: transform 0.5s ease;
    transform: translateY(-300px);
    background-color: #301079;
    flex-direction: column;
    padding: 3.4% 15px 2px;

    align-items: center;
}
.ScrollMenu.visible {
    transform: translateY(0);
}
.navButton.menu {
    height: 40%;
    width: 100%;
    margin-left: 0px;
    padding: 10px 15px;
    justify-content: center;
}

.flag {
    border: 2px solid gold;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    padding: 0px;
    margin-top: 5px;
}

.centerFlag {
    margin-right: 70px;
}